## Importing and altering the data

In [1]:
import pandas as pd

In [241]:
emp = pd.read_csv('Train.csv')

In [242]:
emp.head()

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_23371,F,42.0,4,Married,Franklin,IT,Conceptual,4.0,4,...,type2,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841
1,EID_18000,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,...,type2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670
2,EID_3891,F,58.0,3,Married,Clinton,Quality,Conceptual,27.0,3,...,type2,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851
3,EID_17492,F,26.0,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,...,type2,1.0,3,-1.8176,-0.4537,NaN,3,7,3,0.0668
4,EID_22534,F,31.0,1,Married,Springfield,Logistics,Conceptual,5.0,4,...,type3,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827

In [243]:
emp['Age'].fillna(emp['Age'].median(), inplace=True)
emp['Time_of_service'].fillna(emp['Time_of_service'].mode()[0], inplace=True)
emp['Pay_Scale'].fillna(emp['Pay_Scale'].median(), inplace=True)
emp['Work_Life_balance'].fillna(emp['Work_Life_balance'].mode()[0], inplace=True)
emp['VAR2'].fillna(emp['VAR2'].mode()[0], inplace=True)
emp['VAR4'].fillna(emp['VAR4'].mode()[0], inplace=True)

## Train Test Split and some Modifications in data

In [244]:
y_val = emp['Attrition_rate']

In [245]:
x_data = emp.drop(['Education_Level','Time_since_promotion','Travel_Rate','Post_Level','Work_Life_balance','Employee_ID','Attrition_rate','Gender','Relationship_Status','Hometown','Unit','Decision_skill_possess','Compensation_and_Benefits'],axis = 1)

In [246]:
x_data.head()

,Age,Time_of_service,growth_rate,Pay_Scale,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,42.0,4.0,33,7.0,4,0.7516,1.8688,2.0,4,5,3
1,24.0,5.0,36,6.0,3,-0.9612,-0.4537,2.0,3,5,3
2,58.0,27.0,51,8.0,4,-0.9612,-0.4537,3.0,3,8,3
3,26.0,4.0,56,8.0,3,-1.8176,-0.4537,2.0,3,7,3
4,31.0,5.0,62,2.0,1,0.7516,-0.4537,2.0,2,8,2

In [247]:
from sklearn.model_selection import train_test_split

In [248]:
X_train, X_test, y_train, y_test = train_test_split(x_data, y_val, test_size=0.01, random_state=21)

In [249]:
from sklearn.preprocessing import MinMaxScaler

In [250]:
scaler = MinMaxScaler()

In [251]:
scaler.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [252]:
X_train = pd.DataFrame(data = scaler.transform(X_train),columns = X_train.columns, index = X_train.index)

In [253]:
X_test = pd.DataFrame(data = scaler.transform(X_test),columns = X_test.columns, index = X_test.index)

## Training the Model

In [254]:
import tensorflow as tf

In [255]:
emp_id = tf.feature_column.numeric_column('Employee_ID')
gender = tf.feature_column.numeric_column('Gender')
age = tf.feature_column.numeric_column('Age')
education_lvl = tf.feature_column.numeric_column('Education_Level')
relationship = tf.feature_column.numeric_column('Relationship_Status')
hometown = tf.feature_column.numeric_column('Hometown')
unit = tf.feature_column.numeric_column('Unit')
decision_skill = tf.feature_column.numeric_column('Decision_skill_possess')
service = tf.feature_column.numeric_column('Time_of_service')
promotion = tf.feature_column.numeric_column('Time_since_promotion')
growth = tf.feature_column.numeric_column('growth_rate')
travel = tf.feature_column.numeric_column('Travel_Rate')
post = tf.feature_column.numeric_column('Post_Level')
pay = tf.feature_column.numeric_column('Pay_Scale')
benefits = tf.feature_column.numeric_column('Compensation_and_Benefits')
life = tf.feature_column.numeric_column('Work_Life_balance')
var1 = tf.feature_column.numeric_column('VAR1')
var2 = tf.feature_column.numeric_column('VAR2')
var3 = tf.feature_column.numeric_column('VAR3')
var4 = tf.feature_column.numeric_column('VAR4')
var5 = tf.feature_column.numeric_column('VAR5')
var6 = tf.feature_column.numeric_column('VAR6')
var7 = tf.feature_column.numeric_column('VAR7')

In [256]:
feat_cols = [age,service,growth,pay,var1,var2,var3,var4,var5,var6,var7]
#feat_cols = [var1,var2,var3,var4,var5,var6,var7]

In [257]:
input_func = tf.compat.v1.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size = 10, num_epochs =10, shuffle = True, num_threads=5)

In [258]:
model = tf.compat.v1.estimator.DNNClassifier(hidden_units = [11,11,11], feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\Admin\AppData\Local\Temp\tmpcw03aka9
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\Admin\\AppData\\Local\\Temp\\tmpcw03aka9', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [259]:
model.train(input_fn=input_func, steps=2000)

WARNING:tensorflow:enqueue_data was called with num_epochs and num_threads > 1. num_epochs is applied per thread, so this will produce more epochs than you probably intend. If you want to limit epochs, use one thread.
WARNING:tensorflow:enqueue_data was called with shuffle=True, num_threads > 1, and num_epochs. This will create multiple threads, all reading the array/dataframe in order adding to the same shuffling queue; the results will likely not be sufficiently shuffled.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Layer dnn is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\Admin\AppData\Local\Temp\tmpcw03aka9\model.ckpt.
INFO:tensorflow:loss = 7.8472424, step = 0
INFO:tensorflow:global_step/sec: 63.9994
INFO:tensorflow:loss = 5.958371, step = 100 (1.569 sec)
INFO:tensorflow:global_step/sec: 102.197
INFO:tensorflow:loss = 6.5525627, step = 200 (0.977 sec)
INFO:tensorflow:global_step/sec: 142.726
INFO:tensorflow:loss = 4.2888937, step = 300 (0.699 sec)
INFO:tensorflow:global_step/sec: 149.186
INFO:tensorflow:loss = 5.5608683, step = 400 (0.670 sec)
INFO:tensorflow:global_step/sec: 205.973
INFO:tensorflow:loss = 5.437712, step = 500 (0.487 sec)
INFO:tensorflow:global_step/sec: 135.913
INFO:tensorflow:loss = 4.1300807, step = 600 (0.737 sec)
INFO:tensorflow:global_step/sec: 178.25
INFO:tensorflow:loss = 4.5757422, step = 700 (0.557 sec)
INFO:tensorflow:global_step/sec: 182.074
INFO:tensorflow:loss = 5.7497063, step = 800 (0.550 sec)
INFO:tensorflow:global_step/sec: 256.266
INFO:tensorflow:loss = 4.554938, step = 900 (0.390 sec)
INFO:tensorflow:global_step/sec: 239.672
INFO:tensorflow:loss = 4.6033936, step = 1000 (0.416 sec)
INFO:tensorflow:global_step/sec: 236.027
INFO:tensorflow:loss = 4.972102, step = 1100 (0.426 sec)
INFO:tensorflow:global_step/sec: 194.317
INFO:tensorflow:loss = 4.260234, step = 1200 (0.514 sec)
INFO:tensorflow:global_step/sec: 277.981
INFO:tensorflow:loss = 3.8600736, step = 1300 (0.360 sec)
INFO:tensorflow:global_step/sec: 224.913
INFO:tensorflow:loss = 5.9953213, step = 1400 (0.447 sec)
INFO:tensorflow:global_step/sec: 83.9805
INFO:tensorflow:loss = 4.073834, step = 1500 (1.195 sec)
INFO:tensorflow:global_step/sec: 78.3337
INFO:tensorflow:loss = 5.4327974, step = 1600 (1.278 sec)
INFO:tensorflow:global_step/sec: 93.6111
INFO:tensorflow:loss = 4.952783, step = 1700 (1.062 sec)
INFO:tensorflow:global_step/sec: 123.622
INFO:tensorflow:loss = 5.125497, step = 1800 (0.809 sec)
INFO:tensorflow:global_step/sec: 163.568
INFO:tensorflow:loss = 3.9117794, step = 1900 (0.611 sec)
INFO:tensorflow:Saving checkpoints for 2000 into C:\Users\Admin\AppData\Local\Temp\tmpcw03aka9\model.ckpt.
INFO:tensorflow:Loss for final step: 4.275122.

In [260]:
eval_input_func = tf.compat.v1.estimator.inputs.pandas_input_fn(x=X_test,y=y_test,batch_size = 10, num_epochs =1, shuffle = False, num_threads=5)

In [261]:
model.evaluate(eval_input_func)

WARNING:tensorflow:enqueue_data was called with num_epochs and num_threads > 1. num_epochs is applied per thread, so this will produce more epochs than you probably intend. If you want to limit epochs, use one thread.
WARNING:tensorflow:enqueue_data was called with shuffle=False and num_threads > 1. This will create multiple threads, all reading the array/dataframe in order. If you want examples read in order, use one thread; if you want multiple threads, enable shuffling.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Layer dnn is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2020-06-17T22:52:46Z
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\Admin\AppData\Local\Temp\tmpcw03aka9\model.ckpt-2000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Inference Time : 3.03163s
INFO:tensorflow:Finished evaluation at 2020-06-17-22:52:49
INFO:tensorflow:Saving dict for global step 2000: accuracy = 0.0, accuracy_baseline = 0.8203857, auc = 0.0, auc_precision_recall = 0.99999994, average_loss = 0.47291124, global_step = 2000, label/mean = 0.1796143, loss = 4.7291126, precision = 0.0, prediction/mean = 0.1993746, recall = 0.0
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 2000: C:\Users\Admin\AppData\Local\Temp\tmpcw03aka9\model.ckpt-2000

{'accuracy': 0.0,
 'accuracy_baseline': 0.8203857,
 'auc': 0.0,
 'auc_precision_recall': 0.99999994,
 'average_loss': 0.47291124,
 'label/mean': 0.1796143,
 'loss': 4.7291126,
 'precision': 0.0,
 'prediction/mean': 0.1993746,
 'recall': 0.0,
 'global_step': 2000}

## Test Data

In [264]:
empoo = pd.read_csv('Test.csv')

In [265]:
empoo.head()

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,EID_22713,F,32.0,5,Single,Springfield,R&D,Conceptual,7.0,4,...,4.0,type2,1.0,3,-0.9612,-0.4537,2.0,1,8,4
1,EID_9658,M,65.0,2,Single,Lebanon,IT,Directive,41.0,2,...,1.0,type2,1.0,4,-0.9612,0.7075,1.0,2,8,2
2,EID_22203,M,52.0,3,Married,Springfield,Sales,Directive,21.0,3,...,8.0,type3,1.0,4,-0.1048,0.7075,2.0,1,9,3
3,EID_7652,M,50.0,5,Single,Washington,Marketing,Analytical,11.0,4,...,2.0,type0,4.0,3,-0.1048,0.7075,2.0,2,8,3
4,EID_6516,F,44.0,3,Married,Franklin,R&D,Conceptual,12.0,4,...,2.0,type2,4.0,4,1.6081,0.7075,2.0,2,7,4

In [266]:
empoo['Age'].fillna(empoo['Age'].median(), inplace=True)
empoo['Time_of_service'].fillna(empoo['Time_of_service'].mode()[0], inplace=True)
empoo['Pay_Scale'].fillna(empoo['Pay_Scale'].median(), inplace=True)
empoo['Work_Life_balance'].fillna(empoo['Work_Life_balance'].mode()[0], inplace=True)
empoo['VAR2'].fillna(empoo['VAR2'].mode()[0], inplace=True)
empoo['VAR4'].fillna(empoo['VAR4'].mode()[0], inplace=True)

In [267]:
empoo = empoo.drop(['Education_Level','Time_since_promotion','Travel_Rate','Post_Level','Work_Life_balance','Employee_ID','Gender','Relationship_Status','Hometown','Unit','Decision_skill_possess','Compensation_and_Benefits'],axis = 1)

In [268]:
empoo.head()

,Age,Time_of_service,growth_rate,Pay_Scale,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,32.0,7.0,30,4.0,3,-0.9612,-0.4537,2.0,1,8,4
1,65.0,41.0,72,1.0,4,-0.9612,0.7075,1.0,2,8,2
2,52.0,21.0,25,8.0,4,-0.1048,0.7075,2.0,1,9,3
3,50.0,11.0,28,2.0,3,-0.1048,0.7075,2.0,2,8,3
4,44.0,12.0,47,2.0,4,1.6081,0.7075,2.0,2,7,4

In [269]:
empoo = pd.DataFrame(data = scaler.transform(empoo),columns = empoo.columns, index = empoo.index)

## Prediction

In [270]:
pred_input_funn = tf.compat.v1.estimator.inputs.pandas_input_fn(x = empoo, batch_size = 10,num_epochs = 1,shuffle = False)

In [271]:
pred = model.predict(pred_input_funn)

In [272]:
predictionn = list(pred)

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Layer dnn is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\Admin\AppData\Local\Temp\tmpcw03aka9\model.ckpt-2000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [273]:
len(predictionn)

3000

In [274]:
hello = []
for pred in predictionn:
    hello.append(pred['logistic'])

## Moving Predicted Data to Excel File

In [275]:
pred = pd.DataFrame(hello)
sub_df = pd.read_csv("Test.csv")
datasets = pd.concat([sub_df['Employee_ID'],pred], axis=1)
datasets.columns = ['Employee_ID', 'Attrition_rate']
datasets.to_csv('Final.csv', index=False)